.themeTitle {

  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: 150;

}

.commentFont {
  
  font-family:  Plantin;
  font-size: 25px;
  font-weight: lighter;
  margin: 0px;

}

.commentNamesAndDates {

  font-family: Lato, sans-serif;
  font-weight: 150;
  font-size: 17px;

}

.commentDates {

  font-family: Lato, sans-serif;
  font-weight: 150;
  font-size: 17px;
  margin-top: 30px;

}

.commentInstructorDates {

  font-family: Lato, sans-serif;
  font-weight: 150;
  font-size: 17px;
  margin-top: 30px;
  color: #D8441C;

}