body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px;
	/* overflow: auto; */
	
}

html {
	height: 100%;
	width: 100%;
	/* overflow: auto; */
}

h1{
	margin-left: 20px;
}
form {
	background-color: white;
	width: 40%;
	height: 30%;
	margin: 150px auto 700px;
	padding: 25px;
	border-radius: 2px;
	
}

.RegisterForm{
	background-color: white;
	width: 30%;
	height: 400px;
	margin: 150px auto 700px;
	padding: 25px;
	border-radius: 2px;

}

.loginBackground{
	background-color: #D4D4D4;
	width: 100%;
	height: 100%;
	
}




.reactRoot{
	height: 100%;
}

.loginTitle{
	text-align: center;
	font-family: Lato, sans-serif;
	font-weight: 150;
}
.reveVoices{
	font-weight: 400;
}
.inputColor{
	color: black;
}

input {
	margin: 5px;
	margin-bottom: 10px;
}

input[type="submit"] {
	margin: 10px;
}

.message {
	padding: 10px 0;
}

.message p {
	margin-left: 10px;
}

.message:nth-child(odd) {
	background-color: whitesmoke;
}

.message:nth-child(even) {
	background-color: whitesmoke;
}
    /* STYLING FOR NAV BAR */

.navbar {
	background-color: #e0e0e0;
	margin-bottom: 25px;
	/* position: fixed; */
	top: 0;
	width: 100%;
	overflow: hidden;
	height: 70px;
}


ul {
	list-style-type: none;
	overflow: hidden;
}

li {
	float: right;
}

li a {
	display: block;
	color: #717473;
	text-align: center;
	text-transform: uppercase;
    font-weight: 600;
	padding: 10px 16px;
	text-decoration: none;
}

li a:hover {
	color: #D8441C;
}

.logo {
	float: left;
	width: 260px;
	height: auto;
	margin-left: 15px;
	margin-bottom: 25px;
	position: absolute;
	top: 2px;
}

.avatar{
	float: right;
	vertical-align: center;
	padding: 5px
}

.navItem {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
}

.programName {
	color: black;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
}

.programName:hover {
	color: #000000;
}

        /* END NAV BAR STYLING */



/* MANAGE ACCOUNTS PAGE STYLING  */
.ManageTitle {
	text-align: center;
	font-family: Lato, sans-serif;
	font-weight: 150;
}

.focusForm {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: auto;
	background-color: whitesmoke;
}
 
.login-content {
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
	left: 0px;
	opacity: 0.9;
}

.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 60s linear infinite 0s;
    -moz-animation: imageAnimation 60s linear infinite 0s;
    -o-animation: imageAnimation 60s linear infinite 0s;
    -ms-animation: imageAnimation 60s linear infinite 0s;
    animation: imageAnimation 60s linear infinite 0s; 
}
.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 60s linear infinite 0s;
    -moz-animation: titleAnimation 60s linear infinite 0s;
    -o-animation: titleAnimation 60s linear infinite 0s;
    -ms-animation: titleAnimation 60s linear infinite 0s;
    animation: titleAnimation 60s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px; 
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url(./images/1.jpg) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(./images/2.jpg);
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(./images/3.jpg);
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;
    -o-animation-delay: 20s;
    -ms-animation-delay: 20s;
    animation-delay: 20s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(./images/4.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(./images/5.jpg);
    -webkit-animation-delay: 40s;
    -moz-animation-delay: 40s;
    -o-animation-delay: 40s;
    -ms-animation-delay: 40s;
    animation-delay: 40s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(./images/6.jpg);
    -webkit-animation-delay: 50s;
    -moz-animation-delay: 50s;
    -o-animation-delay: 50s;
    -ms-animation-delay: 50s;
    animation-delay: 50s; 
}
.cb-slideshow li:nth-child(2) div { 
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -o-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s; 
}
.cb-slideshow li:nth-child(3) div { 
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;
    -o-animation-delay: 20s;
    -ms-animation-delay: 20s;
    animation-delay: 20s; 
}
.cb-slideshow li:nth-child(4) div { 
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(5) div { 
    -webkit-animation-delay: 40s;
    -moz-animation-delay: 40s;
    -o-animation-delay: 40s;
    -ms-animation-delay: 40s;
    animation-delay: 40s; 
}
.cb-slideshow li:nth-child(6) div { 
    -webkit-animation-delay: 50s;
    -moz-animation-delay: 50s;
    -o-animation-delay: 50s;
    -ms-animation-delay: 50s;
    animation-delay: 50s; 
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}