body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px;
	/* overflow: auto; */
	
}

html {
	height: 100%;
	width: 100%;
	/* overflow: auto; */
}

/* LOGIN PAGE */

form {
	background-color: white;
	width: 30%;
	height: 250px;
	margin: 150px auto 700px;
	padding: 25px;
	border-radius: 2px;
	
}
.loginBackground{
	background-color: #D4D4D4;
	width: 100%;
	height: 100%;
	
}

.reactRoot{
	height: 100%;
}

.loginTitle{
	text-align: center;
	font-family: Lato, sans-serif;
	font-weight: 150;
}
.reveVoices{
	font-weight: 400;
}
.inputColor{
	color: black;
}

input {
	margin: 5px;
	margin-bottom: 10px;
}

input[type="submit"] {
	margin: 10px;
}

.message {
	padding: 10px 0;
}

.message p {
	margin-left: 10px;
}

.message:nth-child(odd) {
	background-color: whitesmoke;
}

.message:nth-child(even) {
	background-color: whitesmoke;
}
    /* STYLING FOR NAV BAR */

.navbar {
	background-color: #e0e0e0;
	margin-bottom: 25px;
	/* position: fixed; */
	top: 0;
	width: 100%;
	overflow: hidden;
	height: 70px;
}

.active {
	background-color: whitesmoke;
}

ul {
	list-style-type: none;
	overflow: hidden;
}

li {
	float: right;
}

li a {
	display: block;
	color: #717473;
	text-align: center;
	text-transform: uppercase;
    font-weight: 600;
	padding: 10px 16px;
	text-decoration: none;
}

li a:hover {
	color: #D8441C;
	background-size: 100%;
}

.logo {
	float: left;
	width: 260px;
	height: auto;
	margin-left: 15px;
	margin-bottom: 25px;
	position: absolute;
	top: 2px;
}


.navItem {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
}

        /* END NAV BAR STYLING */



/* MANAGE ACCOUNTS PAGE STYLING  */
.ManageTitle {
	text-align: center;
	font-family: Lato, sans-serif;
	font-weight: 150;
}

.addUserBtn{
	
	/* float: right; */
	margin-left: 20%;
	
}

.focusForm {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: auto;
	background-color: whitesmoke;
}