.react-grid-layout {
    position: relative;
    transition: height 200ms ease;
  }
  .react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top;
  }
  .react-grid-item.cssTransforms {
    transition-property: transform;
  }
  .react-grid-item.resizing {
    z-index: 1;
    will-change: width, height;
  }
  
  .react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
    will-change: transform;
  }
  
  .react-grid-item.react-grid-placeholder {
    background: red;
    opacity: 0.2;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .react-grid-item > .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
  }
  
  .react-grid-item > .react-resizable-handle::after {
    content: "";
    position: absolute;
    right: 6px;
    bottom: 6px;
    width: 5px;
    height: 5px;
    border-right: 2px solid #00000066;
    border-bottom: 2px solid #00000066;
  }
  
  .ian {
    background-color: #f7f7f7;
    color: #D8441C;
    border: 1px solid #D8441C;
    border-radius: 12px;
    text-align: center;
  }

  .text {
    line-height: 28px;
  }

  #scheduleTable {
      width: 85%;
  }

  #tableHeader {
      width: 85%;
  }

  .themeTitle {
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: 150;
  }